<mat-toolbar  >
    <mat-toolbar-row  >
        <div class="row between-xs middle-xs header-row ">

            <nav>
                <span>My Application</span>
                <a  mat-button routerLink="/home" routerLinkActive="active"> 
                    <mat-icon  aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    Home
                </a>
            </nav>
            <nav>
                <a  mat-button routerLink="/home" routerLinkActive="active"> 
                    <mat-icon  aria-hidden="false" aria-label="Example home icon">login</mat-icon>
                    Registrate
                </a>
                <a  mat-button routerLink="/home" routerLinkActive="active"> 
                    <mat-icon  aria-hidden="false" aria-label="Example home icon">login</mat-icon>
                    Ingresar
                </a>
                <a  mat-button routerLink="/home" routerLinkActive="active"> 
                    <mat-icon matBadge="15" aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
                    
                </a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
